.btn-list {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .btn {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: $link-color;
  border-color: $link-color;
}

.btn-secondary {
  color: $link-color;
  background-color: initial;
  border-color: $link-color;

  &:hover {
    color: #fff;
    background-color: $link-color;
    border-color: $link-color;
  }
}
