$footer-height: 15rem;

.footer {
  font-size: 80%;
  width: 100%;
  color: #fff;
  background-color: $brand-primary;
  border-top: 2rem solid #de5b41;
  padding: 1rem $page-left-right-padding 0 $page-left-right-padding;
  height: $footer-height;

  @include media-breakpoint-down(xs) {
    font-size: 60%;
  }

  a {
    color: #fff;
  }

  .container {
    width: 100%;
    max-width: $max-text-width;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-title {
    color: #fff;
    margin-bottom: 0.5rem;
  }

  .social-links {
    padding-bottom: 0.7rem;

    a {
      color: #fff;
      font-size: 1.8rem;
      margin-right: 1rem;

      @include media-breakpoint-down(xs) {
        margin-right: 0.8rem;
      }
      &:hover {
        color: #fff;
      }
    }

    .email-section {
      display: inline-block;
      color: #fff;
      font-size: 80%;

      @include media-breakpoint-down(xs) {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }

      .email-label {
        font-weight: bold;
      }
    }
  }

  .copyrights {
    display: block;

    .theme-designed {
      margin-right: 1rem;
    }

    .general-copyrights {
      margin-top: 0.5rem;
    }
  }

  .other-footer-links {
    margin-top: 1rem;
  }
}

.footer-sidebar .container {
  max-width: none;
  padding: 0;

  .row {
    margin-left: 0;
    margin-right: 0;

    .main {
      max-width: $max-text-width;
      margin: 0 auto;
    }
  }
}

.footer-wide {
  .container {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: none;
  }

  @include media-breakpoint-down(md) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
