$footer-height: 14rem;

.footer {
  background-color: $header-and-footer-background-color;
  font-size: 80%;
  width: 100%;
  padding-top: 1rem;
  height: $footer-height;

  @include media-breakpoint-down(xs) {
    font-size: 60%;
  }

  .container {
    width: 100%;
    max-width: $max-text-width + $page-left-right-padding * 2;
    padding-left: $page-left-right-padding;
    padding-right: $page-left-right-padding;
    margin: 0 auto;
  }

  .social-links {
    padding-bottom: 0.7rem;

    a {
      font-size: 1.8rem;
      margin-right: 1rem;

      @include media-breakpoint-down(xs) {
        margin-right: 0.8rem;
      }

      &:hover {
        color: $link-color-hover;
      }
      
    }

    .email-section {
      display: inline-block;
      font-size: 80%;

      .email-label {
        font-weight: bold;
      }

      .email-svg {
        path,
        rect {
          fill: $link-color !important;
        }
      }
    }
  }

  .copyrights {
    display: block;

    .reproduction-notice {
      font-size: 90%;
      margin-right: 1rem;
    }

    .general-copyrights {
      font-size: 90%;
      margin-top: 0.5rem;
    }
  }

  .other-footer-links {
    margin-top: 1rem;
  }
}

.footer-sidebar .container {
  max-width: $max-text-width + $sidebar-width + $page-left-right-padding * 2;

  @include media-breakpoint-down(lg) {
    max-width: $max-text-width + $page-left-right-padding * 2;
  }
}

.footer-wide {
  .container {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: none;
  }

  @include media-breakpoint-down(sm) {
    // means: @media (max-width: 543px) {
    .container {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }
}

.footer-full {
  .container {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    max-width: none;
  }
}
