$wrap-top-margin: 3rem;
$aside-top-margin: $wrap-top-margin - 0.5rem;

.archive-title {
  margin-bottom: $aside-top-margin - 1rem;
}

.content-container {
  @include headerBorder("top");

  width: 100%;
  background: #fff;
  margin-top: $navbar-height;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .wrap {
    padding: $wrap-top-margin $page-left-right-padding;
    margin: 0 auto;
    background: white;

    .content {
      margin-left: 0;
      margin-right: 0;
    }

    .main {
      margin: 0 auto;
      overflow: auto;

      @include media-breakpoint-up(lg) {
        max-width: $max-text-width;
      }
    }
  }
}

.container.container-wide {
  width: 100%;
  max-width: 100%;
  .main {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: none;
    overflow: hidden;
  }

  @include media-breakpoint-down(md) {
    .main {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.content-container-img-header {
  margin-top: $header-img + $navbar-height;
}

.page h1 {
  margin-bottom: 1rem;
}
