$wrap-top-margin: 2rem;
$aside-top-margin: $wrap-top-margin - 0.5rem;

.archive-title {
  margin-bottom: $aside-top-margin - 1rem;
}

.content-container {
  width: 100%;
  padding: 0 $page-left-right-padding;
  background-color: $background-color;

  .container {
    padding: $wrap-top-margin 0;
    margin: 0 auto;
    max-width: none !important;

    .content {
      margin-left: 0;
      margin-right: 0;
    }

    .main {
      width: 100%;
      max-width: $max-text-width;
      margin: 0 auto;
      overflow: visible;
    }
  }

  &.content-container-wide {
    .container {
      width: 100%;
      max-width: 100%;
      .main {
        padding-left: 4rem;
        padding-right: 4rem;
        width: 100%;
        max-width: none;
      }

      @include media-breakpoint-down(md) {
        // means: @media (max-width: 543px) {
        .main {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  &.content-container-full {
    padding: 0;
    
    .container {
      width: 100%;
      padding: 0;
      margin: 0;
      max-width: 100%;
      .main {
        padding: 0;
        margin: 0;
        max-width: none;
      }
    }
  }
}

.page h1 {
  margin-bottom: 1rem;
}
