@import "~bricklayer/dist/bricklayer.min.css";

$portfolio-large: 1200px;

.portfolio {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  margin-left: -0.5em;
  margin-right: -0.5em;
  padding-bottom: 0.5rem;

  &.visible {
    opacity: 1;
  }

  .bricklayer-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .bricklayer-column-sizer {
    @media screen and (min-width: 0) {
      width: 100%;
    }

    @media screen and (min-width: 740px) {
      width: 50%;
    }

    @media screen and (min-width: 1400px) {
      width: 33.333%;
    }

    @media screen and (min-width: 2000px) {
      width: 25%;
    }
  }

  .portfolio-card {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    visibility: visible;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(139, 96, 96, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.12);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .portfolio-card-img {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
    }

    .card-title {
      font-size: 1rem;
      margin-top: 0;
      a {
        color: $headings-color;

        &:hover {
          color: $link-color;
        }
      }
    }

    .card-block {
      margin: 0.75rem;
    }

    .card-text {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;

      ul {
        list-style-type: "- ";
        padding-left: 1rem;
      }
    }

    .card-bottom {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      .card-link {
        font-size: 75%;
      }

      .project-year {
        font-size: 75%;
        color: gray;
        margin-left: auto;
      }

    }

  }

  .card-hide {
    display: none;
  }

  .project-tags {
    padding: 0;
    margin-bottom: 1.25rem;

    li {
      display: inline-block;
      margin-right: 0.7rem;
      font-size: 70%;
      color: gray;
    }
  }
}

.portfolio-filter {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: -0.5em;

  .tag {
    $tag-color: white;
    $tag-bg-color: $link-color;

    display: block;
    -ms-flex: 1 0 auto;
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em 1em;
    font-weight: 300;
    font-size: 0.7rem;
    border-radius: 0.25em;
    background-color: $tag-bg-color;
    color: $tag-color;
    text-align: center;
    min-width: 2em;
    border-bottom: none;
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, opacity 0.25s ease-in-out,
      background-color 0.25s ease-in-out, filter 0.25s ease-in-out;
    will-change: transform, box-shadow, opacity, background-color, filter;
    cursor: pointer;

    &:hover {
      color: lighten($tag-color, 80%);
      background-color: darken($tag-bg-color, 10%);
    }

    &:active,
    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }

    &.tag-disabled {
      $tag-color: #8a8a8a;
      $tag-bg-color: #f3f3f3;

      background-color: $tag-bg-color;
      color: $tag-color;

      &.tag-all {
        background-color: darken($tag-bg-color, 10%);
        color: darken($tag-color, 20%);
      }

      &:hover {
        color: darken($tag-color, 80%);
        background-color: darken($tag-bg-color, 10%);
      }
    }
  }

  .tag-active,
  .tag-active:active,
  .tag-active:hover,
  .tag-active:visited,
  .tag-active:focus {
    color: #fff;
    background-color: $link-color;
  }
}
