/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Fonts
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-size-root: 20px !default;
$font-size-base: 1rem !default;

$headings-font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$headings-color: #404040;
$headings-font-weight: 400;
$h1-font-size: 2rem !default;
$h2-font-size: 1.3rem !default;
$h3-font-size: 1.1rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 1rem !default;
$h6-font-size: 1rem !default;

html {
  font-size: 20px;
}

// Grid settings
$enable-flex: true;
$main-sm-columns: 12;
$sidebar-sm-columns: 4;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 992px,
  xl: 1200px,
) !default;

// Colors
$theme-colors: (
  primary: #525ddc,
);
$link-color: #f8775e;
$link-color-hover: darken($link-color, 10%);
$ui-link-color: #999;
$ui-link-color-hover: $link-color;
$ui-link-color-active: darken($ui-link-color, 10%);
$brand-primary: $link-color;
$borders-color: #ebf2f6;

// Navbar
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$navbar-light-color: $ui-link-color;
$navbar-light-active-color: $ui-link-color-active;
$navbar-light-hover-color: $ui-link-color-hover;
$navbar-brand-padding-y: 0;
$navbar-brand-margin-y: 0.425rem;
$navbar-brand-margin-left: 1rem;
$navbar-brand-img-height: 2.2rem;
$navbar-padding-y: 0.8rem;
$navbar-padding-x: 1.2rem;

// Content
$max-text-width: 36rem;
$sidebar-width: 12rem;
$page-left-right-padding: 1rem;
