// Post, even when it is shown in the list of posts
article {
  margin-bottom: 2rem;

  h2,h3,h4,h5,h6 {
    a {
      color: $headings-color;
    }
    a:hover {
      color: $link-color;
    }
  }

  .entry-summary {
    margin-bottom: 1rem;
  }

  .more-link {
    white-space: nowrap;
  }

  .entry-title {
    margin: 0 0 0.8rem 0;
  }

  .entry-meta {
    .wp-post-image {
      width: 100%;
      margin-bottom: 0.8rem;
      border: 1px solid $borders-color;
    }
  }

  .categories {
    font-family: $headings-font-family;
    font-size: 0.8rem;
    margin-left: 0.1rem;

    a {
      text-transform: uppercase;
      color: $ui-link-color;
      margin-right: 0.4rem;
      &:hover {
        color: $link-color;
      }
    }
  }

  .post-date {
    font-family: $headings-font-family;
    font-size: 0.8rem;
    color: $ui-link-color;
    margin-top: 0.5rem;
  }

  figure.figure {
    display: block;
    img {
      max-width: 100%;
    }
  }

  li {
    margin-bottom: 0.7rem;
  }

  .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      margin-bottom: 1rem;
  }
  .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  
}

.navigation.posts-navigation {
  margin-bottom: 2rem;
}

// Post, when shown in a sigle page
.single-post article {
  h1 {
    margin-bottom: 1rem;
  }

  .entry-meta img {
    margin-bottom: 1rem;
  }

  .entry-meta-bottom {
    margin-top: 2rem;
    border-top: 1px solid #ebf2f6;
    padding: 1rem 0;
  }
} 